
{% load static %}


{% block content %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Contact</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'website/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'website/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'website/css/styles.css' %}" />
</head> 



{% if messages %} 
<div class="card notification-card notification-invitation">
    <div class="card-body">
        {% for message in messages %}
            <div class="card-title">{{message}}</div>
        {% endfor %}
    </div>
</div>
{% endif %}   

    <section id="contact" class="card m-4 p-4">
        <div class="container">
            <div class="row text-center">
            
                <div class="col-sm-6">
                <div class="contact-detail-box">
                <i class="far fa-envelope text-colored fa-3x"></i>
                <h4>Primary Contact</h4>
                <abbr title="Phone">Phone:</abbr> 09610-009633<br>
                Email: <a href="mailto:email@email.com" class="text-muted">ibnsina@gmail.com</a>
                </div>
            </div><!-- end col -->

            <div class="col-sm-6">
                <div class="contact-detail-box">
                <i class="fa fa-map-marker fa-3x text-colored"></i>
                <h4>Location</h4>

                <address>
                    Cha-72/1, Progoti Soroni<br>
                    Dhaka 1212, Bangladesh<br>
                </address>
                </div>
            </div><!-- end col -->

            </div>
            <!-- end row -->


            <div class="row">
            <div class="col-sm-6">
                <div class="contact-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3650.994435272322!2d90.4234806139733!3d23.783212493441212!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c7968b69e9a1%3A0x4ae83fdb222b7e7d!2sIbn%20Sina%20Diagnostic%20%26%20Consultation%20Center%20(Badda)!5e0!3m2!1sen!2sbd!4v1650040624756!5m2!1sen!2sbd" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div><!-- end col -->

            <!-- Contact form -->
            <div class="col-sm-6">
                <form role="form" name="ajax-form" id="ajax-form" method="POST" class="form-main" action= "{% url 'contact_us' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name2">Name</label>
                    <input class="form-control" id="name2" name="name" type="text" placeholder="name">
                    <div class="error" id="err-name" style="display: none;">Please enter name</div>
                </div> <!-- /Form-name -->

                <div class="form-group">
                    <label for="email2">Email</label>
                    <input class="form-control" id="email2" name="email" type="text" placeholder="email">
                    <div class="error" id="err-emailvld" style="display: none;">Please enter a valid email</div> 
                </div> <!-- /Form-email -->

                <div class="form-group">
                    <label for="message2">Message</label>
                    <textarea class="form-control" id="message2" name="message" rows="5" placeholder="message">Please write a message</textarea>

                    <div class="error" id="err-message" style="display: none;">Please enter your message</div>
                </div> <!-- /col -->

                <div class="row">            
                    <button type="submit" class="btn btn-primary btn-shadow btn-rounded w-md" id="send">Submit</button>
                    </div> <!-- /col -->

                </br>
        </div>
    </div>
    </section>
</body>
</html>

{% endblock %}